.footer {
  display: flex;
  background-image: url("../img/footer-background@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% -2px;
}

.footer__info {
  padding-top: 163px;
  padding-left: 49px;
  width: 50%;
}

.footer__icons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-width: 210px;
  list-style: none;
}

.footer__link {
  position: relative;
  display: block;
  font-size: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__icon--pots .footer__link {
  margin-top: 6px;
  width: 55px;
  height: 34px;
  background-image: url("../img/footer__icons--pots@1x.png");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/footer__icons--pots@2x.png");
  }
}

.footer__icon--shakers .footer__link {
  margin-left: -5px;
  width: 17px;
  height: 39px;
  background-image: url("../img/footer__icons--shakers@1x.png");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/footer__icons--shakers@2x.png");
  }
}

.footer__icon--authentics .footer__link {
  margin-top: 2px;
  width: 43px;
  height: 43px;
  background-image: url("../img/footer__icons--authentics@1x.png");

  @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
    background-image: url("../img/footer__icons--authentics@2x.png");
  }
}

.footer__copyright {
  margin: 0;
  margin-top: 42px;
  margin-left: 1px;
  font-family: $font-family__main;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: $font-color__footer-copyright;
  letter-spacing: 0.13px;
}

.footer__corporate {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 119px;
  padding-right: 127px;
  width: 50%;
}

.footer__logo {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background-color: $background-color__square--1-2;
    box-shadow:
      0 50px 0 0 $background-color__square--2-2,
      -50px 0 0 0 $background-color__square--1-1,
      -50px 50px 0 0 $background-color__square--2-1,;
  }
}

.footer__title {
  margin: 0;
  margin-top: 9px;
  margin-right: 32px;
  font-family: $font-family__main;
  font-weight: 300;
  font-size: 30px;
  color: $font-color__footer-corporate;
}
