.pots {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $background-color__pots;
  overflow: hidden;
}

.pots__header {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 233px;
  width: 360px;
  height: 100%;
  background-color: $background-color__pots-header;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: -11px;
    width: 11px;
    height: 100%;
    background:
      linear-gradient(225deg, $background-color__pots 0%, $background-color__pots 33%, transparent 33%, transparent 100%),
      linear-gradient(-45deg, $background-color__pots 0%, $background-color__pots 33%, $background-color__pots-header 33%, $background-color__pots-header 100%);
    background-repeat: repeat-y;
    background-size: 11px 22px;
    background-position: 0 -15px;
  }
}

.pots__header-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-left: 11px;
  font-family: $font-family__main;
  font-size: 21px;
  font-weight: 300;
  line-height: 26px;
  color: $font-color__pots--title;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: -114px;
    left: -4px;
    width: 128px;
    height: 79px;
    background-image: url("../img/pots__header--icon@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.pots__header-title span {
  margin-top: -4px;
  font-size: 14px;
  font-weight: 500;
  color: $font-color__pots--collection;
}

.pots__product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 51px;
  padding-left: 62px;
  flex-basis: 750px;
  max-height: 100%;
}

.pots__link {
  max-width: 217px;
  font-family: $font-family__aux;
  color: $font-color__product;
}

.pots__item {
  margin: 0;
  margin-left: 1px;
  font-size: 29px;
  line-height: 29px;
  font-weight: 300;
  color: inherit;
}

.pots__price {
  position: relative;
  font-size: 35px;
  line-height: 35px;
  font-weight: 300;
  color: inherit;
  letter-spacing: -0.1px;

  &::before {
    content: "$";
    position: absolute;
    top: 9px;
    right: -22px;
    font-size: 30px;
    line-height: 30px;
  }
}

.pots__favourite {
  margin-top: 33px;
}

.pots__pic-link {
  margin-top: 24px;
  margin-left: 41px;
}

.pots__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 67px;
  margin-left: auto;
  padding-top: 72px;
  flex-basis: 190px;
}

.pots__author figure {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 41px;
    width: 62px;
    height: 64px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 116px;
    left: 83px;
    width: 8px;
    height: 2px;
    background-color: $font-color__favourite;
  }
}

.pots__frame {
  position: relative;
  align-self: center;
  margin-left: -46px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}

.pots__avatar {
  margin-top: 1px;
  margin-left: -5px;
}

.pots__name {
  margin-top: 9px;
  font-family: $font-family__main;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  color: $font-color__pots-name;
  text-transform: uppercase;
}

.pots__slogan {
  margin: 0;
  margin-top: 22px;
  padding-left: 1px;
  font-family: $font-family__main;
  font-weight: 100;
  font-size: 58px;
  line-height: 65px;
  color: $font-color__slogan;
}

.pots__scroll {
  margin: 0;
  margin-top: 180px;
  margin-right: 48px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
}
