.shackers {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: $background-color__shakers;
  overflow: hidden;
  z-index: 1;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    order: 5;
    width: 100%;
    height: 370px;
  }
}

.shakers__header {
  position: relative;
  display: flex;
  justify-content: center;
  order: 2;
  margin-left: auto;
  width: 361px;
  height: 100%;
  background-color: $background-color__shakers-header;
}

.shakers__header-link {
  position: relative;
  display: block;
  padding: 265px 50px 0 50px;
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    content: "";
    top: 119px;
    left: 150px;
    width: 48px;
    height: 110px;
    background-image: url("../img/shakers__header--icon@1x.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina__dpi), (min-resolution: $retina__dppx) {
      background-image: url("../img/shakers__header--icon@2x.png");
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: -11px;
    width: 11px;
    height: 100%;
    background:
      linear-gradient(45deg, $background-color__pots 0%, $background-color__pots 33%, transparent 33%, transparent 100%),
      linear-gradient(-225deg, $background-color__shakers 0%, $background-color__shakers 33%, $background-color__shakers-header 33%, $background-color__shakers-header 100%);
    background-repeat: repeat-y;
    background-size: 11px 22px;
    background-position: 0 -20px;
  }
}

.shakers__header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-left: -10px;
  font-family: $font-family__main;
  font-size: 21px;
  font-weight: 300;
  line-height: 26px;
  color: $font-color__shakers--title;
  text-transform: uppercase;
}

.shakers__header-title span {
  margin-top: -4px;
  font-size: 14px;
  font-weight: 500;
  color: $font-color__shakers--collection;
}

.shakers__product {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 49px;
  padding-left: 50px;
  flex-basis: 750px;
  height: 100%;
}

.shakers__link {
  max-width: 250px;
  font-family: $font-family__main;
  color: $font-color__product;
}

.shakers__item {
  margin: 0;
  margin-left: 1px;
  margin-bottom: 4px;
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;
  color: inherit;
}

.shakers__price {
  position: relative;
  font-family: $font-family__aux;
  font-size: 34px;
  line-height: 35px;
  font-weight: 300;
  color: inherit;
  letter-spacing: -0.1px;

  &::before {
    content: "$";
    position: absolute;
    top: 6px;
    right: -21px;
    font-size: 26px;
    line-height: 30px;
  }
}

.shakers__favourite {
  margin-top: 31px;
  margin-left: 3px;
  padding-left: 26px;
}

.shakers__favourite > .heart {
  top: 3px;
}

.shakers__pic-link {
  margin-top: 41px;
  margin-left: 80px;
}

.shakers__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
  margin-left: auto;
  padding-top: 69px;
  flex-basis: 210px;
}

.shakers__author figure {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
}

.shakers__frame {
  position: relative;
  align-self: center;
  margin-left: -73px;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  overflow: hidden;
}

.shakers__avatar {
  margin-top: -14px;
  margin-left: -91px;
}

.shakers__name {
  margin-top: 15px;
  margin-left: 6px;
  font-family: $font-family__main;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: $font-color__pots-name;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.shakers__slogan {
  margin: 0;
  margin-top: 33px;
  padding-left: 1px;
  font-family: $font-family__main;
  font-weight: 100;
  font-size: 58px;
  line-height: 58px;
  color: $font-color__slogan;
  letter-spacing: 0.2px;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    width: 100%;
  }
}
