@font-face {
  font-family: "Ginora Sans";
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Ginora Sans Light.woff2") format("woff2"), url("../fonts/Ginora Sans Light.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto-Thin.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/roboto-condensed.regular.woff2") format("woff2"), url("../fonts/roboto-condensed.regular.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0; }

.grid {
  display: grid;
  grid-template-columns: minmax(20px, auto) 340px minmax(688px, auto) 92px 340px minmax(20px, auto);
  grid-template-rows: 665px 372px 330px 370px 377px 346px;
  min-width: 1500px;
  overflow: hidden; }

.header {
  grid-column: 4 / -1; }

.promotion {
  grid-column: 1 / 4;
  grid-row: 1 / 2; }

.menu-toggle {
  position: absolute;
  top: 27px;
  right: 26px;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/Shape 12@1x.svg");
  border: 0; }

div.nojs {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.nojs > .menu-toggle {
  display: none; }

.menu-title {
  margin: 0;
  margin-top: 36px;
  margin-left: 34px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #979797;
  text-transform: uppercase;
  letter-spacing: 0.2px; }

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9eae2;
  background-image: url("../img/header__menu-area--background@1x.jpg");
  background-repeat: no-repeat;
  background-position: 100% top;
  background-size: 382px 665px; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .header {
      background-image: url("../img/header__menu-area--background@2x.jpg"); } }

.promotion {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e9eae2;
  overflow: hidden; }
  .promotion::before {
    content: "";
    position: absolute;
    top: 0;
    left: 184px;
    width: 0;
    height: 0;
    border-top: 283px solid #f9c34a;
    border-left: 176px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 166px solid transparent;
    z-index: 0; }

@media (min-width: 1501px) {
  .promotion {
    padding-left: 1.33333vw; } }

.promotion__product {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 50px;
  min-width: 520px;
  max-height: 523px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 100;
  font-size: 28px;
  line-height: 37.5px;
  color: #969693; }

.promotion__title {
  margin: 0;
  margin-top: 69px;
  font: inherit; }

.promotion__pic {
  position: relative;
  margin-top: 28px;
  margin-left: -145px;
  z-index: 1; }

.promotion__author {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  margin: 0 auto;
  padding-top: 6px; }

.promotion__author figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-left: -10px;
  padding: 0;
  width: 100%; }

.promotion__frame {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden; }

.promotion__avatar {
  margin-top: -6px;
  margin-left: -38px; }

.promotion__author figcaption {
  margin-top: 16px;
  margin-left: 13px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 17px;
  color: #acada7;
  text-transform: uppercase; }

.promotion__slogan {
  margin: 0;
  margin-top: 41px;
  margin-left: -10px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 100;
  font-size: 56px;
  line-height: 59px;
  color: #3f3f3e;
  text-align: center;
  letter-spacing: 1.1px; }

.promotion__control {
  position: relative;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 87px;
  margin-left: 319px;
  width: 100%;
  max-height: 52px;
  z-index: 1; }

.promotion__button {
  margin-top: 19px;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer; }

.promotion__icon {
  margin-left: 10px;
  width: 25px;
  height: 52px; }

.promotion__scroll--prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.promotion__button--next {
  margin-left: 10px; }

.main-nav {
  margin-top: 60px;
  width: 70px; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__item--luxury {
  margin-top: 17px; }

.main-nav__link {
  display: block;
  padding: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 0; }

.main-nav__item:hover,
.main-nav__item--selected {
  background-color: #86d8cd; }

.main-nav__item--selected .main-nav__link {
  cursor: auto; }

.main-nav__item--luxury .main-nav__link {
  padding-top: 18px;
  padding-left: 15px; }

.main-nav__item--search .main-nav__link {
  padding-top: 16px;
  padding-left: 19px; }

.main-nav__item--daily .main-nav__icon {
  width: 30px;
  height: 24px; }

.main-nav__item--luxury .main-nav__icon {
  width: 32px;
  height: 27px; }

.main-nav__item--search .main-nav__icon {
  width: 25px;
  height: 36px; }

.main-nav__daily,
.main-nav__luxury,
.main-nav__search {
  position: absolute;
  top: 0;
  right: 0;
  width: 382px;
  height: 665px;
  background-color: rgba(20, 32, 56, 0.9); }

.main-nav__item--daily:hover .nojs,
.main-nav__item--luxury:hover .nojs,
.main-nav__item--search:hover .nojs {
  z-index: 1;
  opacity: 1; }

.daily {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 47px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translateX(382px);
          transform: translateX(382px);
  z-index: -1;
  opacity: 0; }

.daily__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 83px;
  padding-left: 34px;
  list-style: none; }

.daily__item {
  width: 50%;
  text-align: center; }

.daily__item--bowls {
  padding-left: 3px;
  margin-bottom: 107px; }

.daily__item--cups {
  padding-left: 11px; }

.daily__item--furniture {
  padding-left: 5px;
  margin-bottom: 108px; }

.daily__item--tableware {
  margin-bottom: 109px; }

.daily__link {
  position: relative;
  padding-top: 60px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  color: #3ab3a6;
  text-transform: uppercase;
  word-spacing: 3.5px; }

.daily__item--bowls .daily__link::before {
  position: absolute;
  content: "";
  top: 21px;
  left: 40px;
  width: 34px;
  height: 20px;
  background-image: url("../img/header__daily--bowls@1x.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .daily__item--bowls .daily__link::before {
      background-image: url("../img/header__daily--bowls@2x.png"); } }

.daily__item--cups .daily__link {
  font-size: 18px; }
  .daily__item--cups .daily__link::before {
    position: absolute;
    content: "";
    top: 14px;
    left: 10px;
    width: 20px;
    height: 31px;
    background-image: url("../img/header__daily--cups@1x.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .daily__item--cups .daily__link::before {
        background-image: url("../img/header__daily--cups@2x.png"); } }

.daily__item--dispensers .daily__link::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 40px;
  width: 13px;
  height: 35px;
  background-image: url("../img/header__daily--dispensers@1x.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .daily__item--dispensers .daily__link::before {
      background-image: url("../img/header__daily--dispensers@2x.png"); } }

.daily__item--furniture .daily__link::before {
  position: absolute;
  content: "";
  top: 17px;
  left: 22px;
  width: 41px;
  height: 26px;
  background-image: url("../img/header__daily--furniture@1x.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .daily__item--furniture .daily__link::before {
      background-image: url("../img/header__daily--furniture@2x.png"); } }

.daily__item--tableware .daily__link::before {
  position: absolute;
  content: "";
  top: 11px;
  left: 28px;
  width: 33px;
  height: 33px;
  background-image: url("../img/header__daily--table@1x.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .daily__item--tableware .daily__link::before {
      background-image: url("../img/header__daily--table@2x.png"); } }

.daily__item--cutlery .daily__link::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 31px;
  width: 9px;
  height: 33px;
  background-image: url("../img/header__daily--cutlery@1x.png"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .daily__item--cutlery .daily__link::before {
      background-image: url("../img/header__daily--cutlery@2x.png"); } }

.daily__item--plants .daily__link {
  word-spacing: 1px; }
  .daily__item--plants .daily__link::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 42px;
    width: 34px;
    height: 39px;
    background-image: url("../img/header__daily--plants@1x.png"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .daily__item--plants .daily__link::before {
        background-image: url("../img/header__daily--plants@2x.png"); } }

.luxury {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 47px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translateX(382px);
          transform: translateX(382px);
  z-index: -1;
  opacity: 0; }

.search {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 47px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translateX(382px);
          transform: translateX(382px);
  z-index: -1;
  opacity: 0; }
