html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.container {
  min-width: 1500px;
  padding: 0 20px;
  overflow: hidden;
}

@media (min-width: 1501px) {
  .container {
    padding: 0 100% * 20 / 1500;
  }
}
