html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.grid {
  display: grid;
  grid-template-columns: minmax(20px, auto) 340px minmax(688px, auto) 92px 340px minmax(20px, auto);
  grid-template-rows: 665px 372px 330px 370px 377px 346px;
  min-width: 1500px;
  overflow: hidden;
}

.header {
  grid-column: 4 / -1;
}

.promotion {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
