html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 0;
}

.grid {
  display: grid;
  grid-template-columns: minmax(20px, auto) 340px minmax(688px, auto) 92px 340px minmax(20px, auto);
  grid-template-rows: 665px 372px 330px 370px 377px 346px;
  min-width: 1500px;
  overflow: hidden;
}

.header {
  grid-column: 4 / -1;
}

.promotion {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.menu-toggle {
  position: absolute;
  top: 27px;
  right: 26px;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  background-image: url("../img/Shape 12@1x.svg");
  border: 0;
}

div.nojs {
  transform: translateX(0);
}

.nojs > .menu-toggle {
  display: none;
}

.menu-title {
  margin: 0;
  margin-top: 36px;
  margin-left: 34px;
  font-family: $font-family__main;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: $font-color__daily--title;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
