$font-family__aux: "Ginora Sans", "Arial", sans-serif;
$font-family__main: "Roboto", "Arial", sans-serif;

$font-color__promotion--product: rgb(150, 150, 147);
$font-color__promotion--author: rgb(172, 173, 167);
$font-color__slogan: rgb(63, 63, 62);
$font-color__daily--title: rgb(151, 151, 151);
$font-color__daily--menu: rgb(58, 179, 166);
$font-color__pots--title: rgb(38, 98, 88);
$font-color__pots--collection: rgb(67, 138, 126);
$font-color__product: rgb(189, 189, 189);
$font-color__favourite: rgb(197, 197, 197);
$font-color__pots-name: rgb(184, 180, 180);
$font-color__rooms-label: rgb(147, 147, 147);
$font-color__shakers--title: rgb(88, 110, 71);
$font-color__shakers--collection: rgb(124, 153, 101);
$font-color__fav: rgb(179, 175, 175);
$font-color__authentics--title: rgb(120, 94, 40);
$font-color__authentics--collection: rgb(174, 136, 59);
$font-color__authentics-name: rgb(181, 181, 181);

$background-color__header: rgb(233, 234, 226);
$background-color__triangle: rgb(249, 195, 74);
$background-color__main-nav: rgb(134, 216, 205);
$background-color__pots: rgb(245, 245, 245);
$background-color__pots-header: rgb(125, 213, 201);
$background-color__heart--disabled: rgb(197, 197, 197);
$background-color__heart--enabled: rgb(250, 133, 123);
$background-color__shakers: rgb(245, 245, 245);
$background-color__shakers-header: rgb(191, 231, 158);
$background-color__authentics: rgb(255, 255, 255);
$background-color__authentics-header: rgb(248, 194, 85);

$retina__dpi: 144dpi;
$retina__dppx: 1.5dppx;
